@import url('https://fonts.googleapis.com/css2?family=Cardo:ital@1&family=Open+Sans:wght@400;600;700&family=Raleway:wght@300;400;500;600;700;800&display=swap');
*{
	margin: 0;
	padding: 0;
	
}
a,a:hover{
	text-decoration: none;
}
img{
	vertical-align: middle;
	border:none;
}
ul,ol{
	list-style: none;
}
h1,h2,h3,h4,h5,h6,p,ul,ol,li,.navbar{
	margin: 0;
	padding: 0;

}
body{
	font-family: 'Cardo', serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Raleway', sans-serif;
}
/*common css code end*/
/*menubar area start*/
.menubar{
	background: url(../img/img1.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}
.menubar .logo{
	margin-top: 38px;
}
.menubar .list{
	color: #cacad1;
	font-size: 10px;
	margin-top: 45px;
}
.menubar .list a{
	margin-right: 60px;
	color: #cbccd3;
}


/*menubar area end*/
/*banner part start*/
.banner_part{
	text-align: center;
	background: url(../img/img1.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;

}
.banner_content h1{
	font-size: 45px;
	color: #fff;
	margin-bottom: 40px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
.banner_content p{
	font-size: 16px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}
.banner_content a{
	padding: 20px 50px;
	background: #e84545;
	margin-top: 78px;
	color: #fff;
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	border-radius: 3px;
}
/*banner part end*/
/*portfolio part start */
.father{
	margin-top: 120px;
}
.father .part2{
	margin-top: 35px;
	margin-bottom: 130px;
}
.father .son{
	text-align: center;
	padding: 30px 25px;
	background: #fff;
}
.father .son h2{
	color: #252b33;
	font-size: 15px;
	font-weight: 600;
	margin-top: 25px;
	margin-bottom: 25px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
.father .son p{
	font-size: 12px;
	color: #252b33;
	margin-bottom: 16px;
	opacity: 0.6;
}
/*portfolio part end*/
/*img part start */
.overpower{
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(232, 85, 85, 0.8);
	opacity: 0;
	transition: .3s;
}
.all img{
	height: 250px;
	width: 342px;
	margin-bottom: 2px;
	margin-right: 2px;
}
.img:hover .overpower{
	opacity: 1;
	width: 342px;
	height: 250px;
	margin-left: 15px;
	transition: .5s;
	color: #fff;
}
.all .overpower h2{
	font-family: 'Raleway', sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 12px;
}
.all .overpower span{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 14px;
	
}
/*img part end*/
/*card part start*/
.card_head{
	margin: 102px 0px;
}
.card_head .card-body h2{
	font-size: 17px;
	color: #2d3033;
	margin-bottom: 15px;
}
.card_head .card-body h4{
	font-size: 10px;
	color: #e84545;
	margin-bottom: 10px;
}
.card_head .card-body p{
	font-size: 11px;
	color: #6c7279;
	line-height: 1.8;
	margin-bottom: 20px;
}
.card_head .card{
	margin: 0px 15px;
}
.card_head .card .card-body img{
	padding: 10px;
	border: 1px solid #c6cacc;
	cursor: pointer;
}
.card_head .card .card-body .pad{
	padding: 9px 14px;
	cursor: pointer;
}
.card_head .card .card-body .padi{
	padding: 11px 8px;
	cursor: pointer;
}
/*card part end*/
/*woman head start*/
.woman_head .wom{
	height: 450px;
	width: 670px;
}
.woman_head .woman p{
	font-family: 'Cardo', serif;
	font-size: 25px;
	color: #fff;
	margin-top: 90px;
	margin-left: 65px;
}
.woman_head .woman h5{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 10px;
	color: #fff;
	margin-left: 65px;
	margin-top: 25px;
}
.woman_head .kirevai{
	background: #53354a;
}
/*woman part end*/
/*text part start */
.text_part{
	text-align: center;
}
.text_part .text_content h1{
	margin-top: 100px;
	margin-bottom: 20px;
	font-size: 22px;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #3b3e41;
}
.text_part .text_content p{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: #494c4e;
	font-size: 10px;
}
.text_part .text_content a{
	margin-top: 30px;
	margin-bottom: 80px;
	padding: 17px 50px;
	display: inline-block;
	background: #e84545;
	color: #fff;
	font-size: 10px;
}
/*text part end*/
/*footer part end*/
.footer_head{
	background: #3a3e64;
}
.footer_head .part1{
	margin-top: 70px;
	margin-bottom: 70px;
	text-align: center;
	color: #fff;
}
.footer_head .part2{
	margin-top: 70px;
	margin-bottom: 70px;
	text-align: center;
	color: #fff;
}
.footer_head .part3{
	margin-top: 70px;
	margin-bottom: 70px;
	text-align: center;
	color: #fff;
}
.footer_head .part1 h3{
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer_head .part2 h2{
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer_head .part3 h3{
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer_head .part1 p{
	font-size: 12px;
	color: #757893;
}
.footer_head .part3 p{
	font-size: 12px;
	color: #757893;
}
.footer_head img{
	padding: 10px;
	border: 2px solid #fff;
	cursor: pointer;
	color: #fff;
}
.footer_head .pad{
	padding: 9px 14px;
	cursor: pointer;
	color: #fff;
}
.footer_head .padi{
	padding: 11px 8px;
	cursor: pointer;
	color: #fff;
}
/*}footer part end*/
/*main footer part start*/
.footer_part{
	text-align: center;
	background: #313454;
	font-family: 'Raleway', sans-serif;
}
.footer_part p{
	color: #808080;
}
.footer_part span{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
}
.footer_part .footer_content{
	margin: 20px 0px;
}
/*main footer part end*/